rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null;
    }

    match /settings/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /playlists/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /songs/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /live/{document} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /requests/{document} {
      allow create: if
        request.resource.data.customerName is string &&
        request.resource.data.title is string &&
        request.resource.data.status == "new";
      allow read, update, delete: if isAdmin();
    }
  }
}
